<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.yunos.bbs"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.aliyun.permission.TYID_MGR_SERVICE" />
    <uses-permission android:name="com.aliyun.permission.TYID_SERVICE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.yunos.bbs.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.yunos.bbs.Post"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="io.yunos.bbs.PlateList"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.yunos.bbs.NewPostOrReply"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="io.yunos.bbs.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name="io.yunos.bbs.UnYunosLogin"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="io.yunos.bbs.LoginManager"
            android:theme="@android:style/Theme.NoDisplay">
            
        </activity>
    </application>

</manifest>